@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: azure;
}

@font-face {
  font-family: "NB International";
  src: url("/fonts/NB\ International\ Regular.otf");
}

@font-face {
  font-family: "Ri Formal LSub";
  src: url("/fonts/RiformaLLSub.otf");
}
